Repository chainguard-images/images, pull requests merged in 2023-06, with the labels that each got.

#746 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#754 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#776 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#777 Add buck2 image and test.
  README.md
  images/buck2/README.md
  images/buck2/configs/latest.apko.yaml
  images/buck2/image.yaml
  images/buck2/testdata/build-test.sh
  images/buck2/tests/01-help.sh
  images/buck2/tests/02-build.sh
Labels: image-request

#788 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#673 external-snapshotter, external-snapshot-controller, external-snapshot-validation-webhook
  README.md
  images/kubernetes-csi-external-snapshot-controller/README.md
  images/kubernetes-csi-external-snapshot-controller/configs/latest.apko.yaml
  images/kubernetes-csi-external-snapshot-controller/image.yaml
  images/kubernetes-csi-external-snapshot-controller/tests/01-help.sh
  images/kubernetes-csi-external-snapshot-controller/tests/02-runs.sh
  images/kubernetes-csi-external-snapshot-validation-webhook/README.md
  images/kubernetes-csi-external-snapshot-validation-webhook/configs/latest.apko.yaml
  images/kubernetes-csi-external-snapshot-validation-webhook/image.yaml
  images/kubernetes-csi-external-snapshot-validation-webhook/tests/01-help.sh
  images/kubernetes-csi-external-snapshotter/README.md
  images/kubernetes-csi-external-snapshotter/configs/latest.apko.yaml
  images/kubernetes-csi-external-snapshotter/image.yaml
  images/kubernetes-csi-external-snapshotter/tests/01-help.sh
Labels: k8s

#830 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#886 Convert pulumi to terraform, misc. image updates
  .github/workflows/k8s-tests.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  images/pulumi/configs/latest.apko.yaml
  images/pulumi/image.yaml
  images/pulumi/main.tf
  images/pulumi/tests/01-runs.sh
  images/pulumi/tests/01-version.sh
  images/pulumi/tests/main.tf
  main.tf
Labels: k8s

#890 go: add 1.21
  README.md
  images/go/configs/1.21.apko.yaml
  images/go/image.yaml
Labels: image-request

#898 Convert helm images to terraform
  README.md
  images/helm-chartmuseum/README.md
  images/helm-chartmuseum/configs/latest.apko.yaml
  images/helm-chartmuseum/image.yaml
  images/helm-chartmuseum/main.tf
  images/helm-chartmuseum/tests/01-helm-repo-add.sh
  images/helm-chartmuseum/tests/main.tf
  images/helm-controller/README.md
  images/helm-controller/configs/latest.apko.yaml
  images/helm-controller/image.yaml
  images/helm-controller/main.tf
  images/helm-controller/tests/main.tf
  images/helm/configs/latest.apko.yaml
  images/helm/image.yaml
  images/helm/main.tf
  images/helm/tests/main.tf
  main.tf
Labels: k8s
