Repository chainguard-images/images, pull requests merged in 2023-04, with the labels that each got.

#416 Add vault-k8s image.
  README.md
  images/vault-k8s/README.md
  images/vault-k8s/configs/latest.apko.yaml
  images/vault-k8s/image.yaml
  images/vault-k8s/tests/01-version.sh
Labels: image-request

#417 Add consul image.
  README.md
  images/consul/README.md
  images/consul/configs/latest.apko.yaml
  images/consul/image.yaml
  images/consul/tests/01-version.sh
Labels: image-request

#433 Image: add crane
  README.md
  images/crane/README.md
  images/crane/configs/latest.apko.yaml
  images/crane/image.yaml
  images/crane/tests/01-version.sh
  images/crane/tests/02-manifest.sh
  images/crane/tests/03-digest.sh
  images/crane/tests/04-ls.sh
  images/crane/tests/05-config.sh
Labels: image-request

#446 Add gcloud image!
  README.md
  images/google-cloud-sdk/README.md
  images/google-cloud-sdk/configs/latest.apko.yaml
  images/google-cloud-sdk/image.yaml
  images/google-cloud-sdk/tests/01-version.sh
Labels: image-request

#454 run k8s tests on presubmit if label applied
  .github/workflows/presubmit-k8s-tests.yaml
Labels: k8s

#453 Add a test that kube-state-metrics comes up and serves.
  images/kube-state-metrics/tests/02-runs.sh
Labels: k8s

#464 Add influxdb image and tests.
  README.md
  images/influxdb/README.md
  images/influxdb/configs/latest.apko.yaml
  images/influxdb/image.yaml
  images/influxdb/tests/01-version.sh
  images/influxdb/tests/02-setup.sh
  images/influxdb/tests/03-helm.sh
Labels: image-request

#463 Add zot image
  README.md
  images/zot/README.md
  images/zot/configs/latest.apko.yaml
  images/zot/image.yaml
  images/zot/tests/01-push-pull-image.sh
Labels: image-request

#462 Update fluent-bit k8s test
  images/fluent-bit/tests/02-helm-install.sh
Labels: k8s

#475 Image: Add a `-dev` variant to `cosign`
  README.md
  images/cosign/image.yaml
Labels: image-request

#495 Add skaffold image.
  README.md
  images/skaffold/README.md
  images/skaffold/configs/latest.apko.yaml
  images/skaffold/image.yaml
  images/skaffold/tests/01-version.sh
Labels: image-request

#496 Add weaviate database image.
  README.md
  images/skaffold/README.md
  images/weaviate/README.md
  images/weaviate/configs/latest.apko.yaml
  images/weaviate/image.yaml
  images/weaviate/tests/01-help.sh
  images/weaviate/tests/02-install.sh
Labels: image-request

#498 The k8s tests seem to have been changed to separate the image registr…
  images/influxdb/tests/03-helm.sh
  images/weaviate/tests/02-install.sh
Labels: k8s

#491 Image: Add clang 15 image.
  README.md
  images/clang/README.md
  images/clang/configs/latest.apko.yaml
  images/clang/examples/hello/main.c
  images/clang/image.yaml
  images/clang/tests/01-version.sh
  images/clang/tests/02-compile.sh
Labels: image-request

#501 add certmanager
  README.md
  images/cert-manager-acmesolver/README.md
  images/cert-manager-acmesolver/configs/latest.apko.yaml
  images/cert-manager-acmesolver/image.yaml
  images/cert-manager-acmesolver/tests/01-help.sh
  images/cert-manager-acmesolver/tests/02-helm-install.sh
  images/cert-manager-cainjector/README.md
  images/cert-manager-cainjector/configs/latest.apko.yaml
  images/cert-manager-cainjector/image.yaml
  images/cert-manager-cainjector/tests/01-help.sh
  images/cert-manager-cainjector/tests/02-helm-install.sh
  images/cert-manager-controller/README.md
  images/cert-manager-controller/configs/latest.apko.yaml
  images/cert-manager-controller/image.yaml
  images/cert-manager-controller/tests/01-help.sh
  images/cert-manager-controller/tests/02-helm-install.sh
  images/cert-manager-webhook/README.md
  images/cert-manager-webhook/configs/latest.apko.yaml
  images/cert-manager-webhook/image.yaml
  images/cert-manager-webhook/tests/01-help.sh
  images/cert-manager-webhook/tests/02-helm-install.sh
Labels: image-request, k8s

#504 add flux cli
  README.md
  images/flux/README.md
  images/flux/configs/latest.apko.yaml
  images/flux/image.yaml
  images/flux/tests/01-help.sh
  images/flux/tests/02-flux-export.sh
Labels: image-request, k8s

#503 add flux cli and gotk components
  README.md
  images/helm-controller/README.md
  images/helm-controller/configs/latest.apko.yaml
  images/helm-controller/image.yaml
  images/helm-controller/tests/01-starts.sh
  images/helm-controller/tests/02-flux-install.sh
  images/kustomize-controller/README.md
  images/kustomize-controller/configs/latest.apko.yaml
  images/kustomize-controller/image.yaml
  images/kustomize-controller/tests/01-starts.sh
  images/kustomize-controller/tests/02-flux-install.sh
  images/notification-controller/README.md
  images/notification-controller/configs/latest.apko.yaml
  images/notification-controller/image.yaml
  images/notification-controller/tests/01-starts.sh
  images/notification-controller/tests/02-flux-install.sh
  images/source-controller/README.md
  images/source-controller/configs/latest.apko.yaml
  images/source-controller/image.yaml
  images/source-controller/tests/01-starts.sh
  images/source-controller/tests/02-flux-install.sh
Labels: image-request, k8s
