Repository chainguard-images/images, pull requests merged in 2023-05, with the labels that each got.

#549 Add a kubernetes dashboard package and tests.
  README.md
  images/kubernetes-dashboard/README.md
  images/kubernetes-dashboard/configs/latest.apko.yaml
  images/kubernetes-dashboard/image.yaml
  images/kubernetes-dashboard/tests/01-help.sh
  images/kubernetes-dashboard/tests/02-deploy.sh
  images/nginx/README.md
Labels: image-request

#550 Add prometheus cloudwatch image.
  README.md
  images/prometheus-cloudwatch-exporter/README.md
  images/prometheus-cloudwatch-exporter/configs/latest.apko.yaml
  images/prometheus-cloudwatch-exporter/example/example.yml
  images/prometheus-cloudwatch-exporter/image.yaml
  images/prometheus-cloudwatch-exporter/tests/01-runs.sh
Labels: image-request

#542 Add pulumi image
  README.md
  images/pulumi/README.md
  images/pulumi/configs/latest.apko.yaml
  images/pulumi/examples/smoketest-dotnet/.gitignore
  images/pulumi/examples/smoketest-dotnet/Program.cs
  images/pulumi/examples/smoketest-dotnet/Pulumi.yaml
  images/pulumi/examples/smoketest-dotnet/smoketest.csproj
  images/pulumi/examples/smoketest-go/Pulumi.yaml
  images/pulumi/examples/smoketest-go/go.mod
  images/pulumi/examples/smoketest-go/go.sum
  images/pulumi/examples/smoketest-go/main.go
  images/pulumi/examples/smoketest-java/.gitignore
  images/pulumi/examples/smoketest-java/Pulumi.yaml
  images/pulumi/examples/smoketest-java/pom.xml
  images/pulumi/examples/smoketest-java/src/main/java/myproject/App.java
  images/pulumi/examples/smoketest-nodejs/.gitignore
  images/pulumi/examples/smoketest-nodejs/Pulumi.yaml
  images/pulumi/examples/smoketest-nodejs/index.js
  images/pulumi/examples/smoketest-nodejs/package-lock.json
  images/pulumi/examples/smoketest-nodejs/package.json
  images/pulumi/examples/smoketest-python/Pulumi.yaml
  images/pulumi/examples/smoketest-python/__main__.py
  images/pulumi/examples/smoketest-python/requirements.txt
  images/pulumi/examples/smoketest-yaml/Pulumi.yaml
  images/pulumi/image.yaml
  images/pulumi/tests/01-version.sh
  images/pulumi/tests/02-k8s-install-all-languages.sh
Labels: k8s

#561 add dotnet 6 image variants
  README.md
  images/aspnet-runtime/README.md
  images/aspnet-runtime/configs/dotnet-6.apko.yaml
  images/aspnet-runtime/image.yaml
  images/dotnet-runtime/README.md
  images/dotnet-runtime/configs/dotnet-6.apko.yaml
  images/dotnet-runtime/image.yaml
  images/dotnet-sdk/README.md
  images/dotnet-sdk/configs/dotnet-6.apko.yaml
  images/dotnet-sdk/image.yaml
Labels: image-request

#576 add dex
  README.md
  images/dex/README.md
  images/dex/configs/latest.apko.yaml
  images/dex/image.yaml
  images/dex/tests/01-version.sh
  images/dex/tests/02-runs.sh
  images/dex/tests/03-helm-install.sh
Labels: image-request, k8s

#596 Image: add hugo
  README.md
  images/hugo/README.md
  images/hugo/configs/latest.apko.yaml
  images/hugo/image.yaml
  images/hugo/tests/01-version.sh
  images/hugo/tests/02-quickstart.sh
Labels: image-request

#593 Add New Relic Kubernetes image and tests.
  .github/workflows/presubmit-k8s-tests.yaml
  README.md
  images/nri-kubernetes/README.md
  images/nri-kubernetes/configs/latest.apko.yaml
  images/nri-kubernetes/image.yaml
  images/nri-kubernetes/tests/01-help.sh
  images/nri-kubernetes/tests/02-helm.sh
Labels: image-request

#606 Add vt-cli image.
  README.md
  images/vt/README.md
  images/vt/configs/latest.apko.yaml
  images/vt/image.yaml
  images/vt/tests/01-version.sh
Labels: image-request

#607 Add stakater-reloader image.
  README.md
  images/stakater-reloader/README.md
  images/stakater-reloader/configs/latest.apko.yaml
  images/stakater-reloader/image.yaml
  images/stakater-reloader/tests/01-help.sh
  images/stakater-reloader/tests/02-helm.sh
Labels: image-request

#568 add argocd
  README.md
  images/argocd-repo-server/README.md
  images/argocd-repo-server/configs/latest.apko.yaml
  images/argocd-repo-server/image.yaml
  images/argocd-repo-server/tests/01-help.sh
  images/argocd-repo-server/tests/02-install.sh
  images/argocd/README.md
  images/argocd/configs/latest.apko.yaml
  images/argocd/image.yaml
  images/argocd/tests/01-help.sh
  images/argocd/tests/02-install.sh
Labels: image-request, k8s

#612 Add kubernetes-csi-external-provisioner image
  README.md
  images/kubernetes-csi-external-provisioner/README.md
  images/kubernetes-csi-external-provisioner/configs/latest.apko.yaml
  images/kubernetes-csi-external-provisioner/image.yaml
  images/kubernetes-csi-external-provisioner/tests/01-help.sh
  images/kubernetes-csi-external-provisioner/tests/02-deploy.sh
Labels: image-request, k8s

#626 Add hashicorp/http-echo
  README.md
  images/http-echo/README.md
  images/http-echo/configs/latest.apko.yaml
  images/http-echo/image.yaml
  images/http-echo/tests/01-version.sh
  images/http-echo/tests/02-echo.sh
Labels: image-request

#585 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#635 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#657 Add kube-bench image
  README.md
  images/kube-bench/README.md
  images/kube-bench/configs/latest.apko.yaml
  images/kube-bench/image.yaml
  images/kube-bench/tests/01-version.sh
  images/kube-bench/tests/02-run.sh
Labels: image-request, k8s

#645 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#667 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#656 Add cluster-proportional-autoscaler image
  README.md
  images/cluster-proportional-autoscaler/README.md
  images/cluster-proportional-autoscaler/configs/latest.apko.yaml
  images/cluster-proportional-autoscaler/image.yaml
  images/cluster-proportional-autoscaler/tests/01-version.sh
  images/cluster-proportional-autoscaler/tests/02-helm.sh
Labels: image-request

#652 add e2e test for external-dns
  images/external-dns/tests/02-e2e.sh
  images/kubernetes-csi-external-provisioner/tests/02-deploy.sh
Labels: k8s

#689 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#702 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#707 Add openai image.
  README.md
  images/openai/README.md
  images/openai/configs/latest.apko.yaml
  images/openai/image.yaml
  images/openai/tests/01-help.sh
Labels: image-request

#706 Plumb through sharding in `monopod generate-matrix`.
  .github/actions/generate-matrix/action.yml
  .github/workflows/image-summary.yaml
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
  monopod/pkg/commands/matrix.go
  monopod/pkg/commands/options/matrix.go
Labels: k8s

#728 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none

#743 Update images digests
  .github/workflows/k8s-tests.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/presubmit-build-melange.yaml
  .github/workflows/presubmit-build.yaml
  .github/workflows/presubmit-k8s-tests.yaml
  .github/workflows/release.yaml
Labels: automated pr, kind/cleanup, release-note-none
